.error-message {
    color: red;
}

.required {
    color: red;
}

.confirmation-text {
    visibility: hidden;
}

select2-selection__rendered {
    line-height: 44px !important;
    border-color: #967adc !important;
}
.select2-container .select2-selection--single {
    height: 44px !important;
    border-color: #967adc !important;
}
.select2-selection__arrow {
    height: 44px !important;
    border-color: #967adc !important;
}

.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.se-pre-con {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../app-assets/images/Preloader_2.gif) center no-repeat #fff;
}
